<section>
  <h1>4 player game</h1>
  <h2>Open Trade Component</h2>

  <.tradable_card
    id="player_farah"
    card={%Card{id: "abc", shape: :star, property: :creative_brief}}
    peers={[%{id: "pqr", name: "adhiraj"}, %{id: "abc", name: "krys"}]}
  />
</section>
